@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.model {
    visibility: hidden;
    display: none;
}

:root {
    --VCor: #FF003C;
    --LCor: #FF8A00;
    --ACor: #FABE28;
    --VdCor: #88C100;
    --VerdeCCor: #00C176;

}

.titulo_produtores {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* MENU */
.inicio {
    color: var(--VCor)
}

.topics>i {
    cursor: pointer;

}

.topics>i:hover {
    cursor: pointer;
    color: var(--VCor);
}

.topics>span {
    margin: 0px 10px
}

.topics>span:hover {
    color: var(--VCor);
    cursor: pointer;
}

header {
    font-size: 15px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    align-items: center;
    height: 10vh;
}

.header_one,
.header_three {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_three {
    align-items: center;
    width: 10%;
}

.header_three {
    margin-right: 2%;
}

.header_three>img {
    width: 3vw;
    border-radius: 10px;
    margin-right: 2%;
}

.header_two {
    padding: 10px;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}

.header_two>input {

    width: 100%;
    border: none;
    outline: none;
}

.header_two>i {
    font-size: 23px;
    padding: 2px;
}

.header_two>i:hover {
    transition: 0.3s;
    cursor: pointer;
    color: white;
    background-color: black;
    padding: 2px;
    border-radius: 3px;
}


/* PRODUTOR */
.main {
    display: flex;
    justify-content: center;
}


.imgProdutor {
    width: 6vw;
}

.contato {
    display: flex;
    margin: 1%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 15vh;
    width: 80%;
}

.infos {
    display: flex;
    flex-direction: column;
}

.contato:hover {
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.123);
}

.titulo {
    font-size: 20px;
    font-weight: bold;

}