@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.back{
    font-family: 'Poppins';
    display: flex;
    justify-content: space-between;

}

.legenda{
    display: flex;
    align-items: center;
}

.legenda > p{
    margin-right: 2%;
}

.cards{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.fundo{
    padding: 10px 25px;
    margin: 15px;
    border-radius: 10px;
}


.imgPokemon{
    width: 10vw;
    height: 10vw;
}

.tipo{
    margin-top: -10%;
    margin-left: 15%;
}
.tipo > img{
    margin: -3%;
    width: 1.3vw;
    height: 1.3vw;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nomeID{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.nome{
    font-size: 25px;
    margin-bottom: -10%;
}

.id{
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.filtro{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
    width: 80%;
    height: 6%;
    border-radius: 10px;
    margin-top: 2%;
}

.filtro > input{
    width: 50%;
    height: 80%;
    outline: none;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
}
::placeholder{
    color: #fff;
}
.filtro > i{
    margin-left: -5%;
    border-radius: 10px;
    padding: 10px;
    border: none;
    background: #fff;
    cursor: pointer;
    color: #e60000;
}

.filtro > i:hover{
    color: black;
}

.legenda > span{
    color: rgb(145, 137, 137);
    margin: 10px 10px 0px 10px;
}

.legenda > p{
    margin: 10px 10px 0px 10px;
    font-size: 18px;
}

.legenda{
    height: 8vh;
    width: 53.4vw;
    position: fixed;
    justify-content:center;
    display: flex;
    flex-wrap: wrap; 
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid #000;
}
.cabecalho{
    display: flex;
    flex-direction: column;
}
.logo{
    display: flex;
    align-items: center;
    margin-bottom: 100%;

}

.cabecalho > #titulo {
    font-weight: 700;

}
.logo > img{
    width: 4vw;
    height: 3vw;
}
.voltar > i{
    background-color: #e60000;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}
.voltar{
    display: flex;
    align-items: center;
    flex-direction: column;
}
nav{
    height: 100vh;
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    position: fixed;
}


main{

    margin-left: 18%;
    margin-right: 10%;
    width: 54%;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    height: 100%;
    width: 26%;
    position: fixed;
    left: 74%;
    padding-right: 2%;
}

.fot{
    flex-direction: column;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.foto > img{
    margin-top: -14%;
    width: 13vw;
}

.foto > p{
    margin-left: 2%;
    background-color: rgba(207, 207, 207, 0.87);
    border-radius: 100%;
    height:5vh;
    margin-top: -15%;
    box-shadow: 0 0 10px rgba(99, 97, 97, 0.26) ;
    
}

.infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-top: 10%;
}
.infos > p{
    margin-top: 2%;
    text-align: center;
    font-size: 50px;
    border: 10px solid #fff;
    width: 150%;
    border-radius: 10px;
    font-weight: 700;
    color: #fff;
}

#desc{
    font-size: 20px;
}

.habilidades{
    border: 2px solid #fff;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    background-color: rgb(235, 235, 235);
    margin-top: 20%;
    height: 40vh;
    width: 25vw;
}

.container1{
    width: 100%;
    height: 40vh;
    text-align: center;
}
.container2{
    flex-direction: column;
    display: flex;
    text-align: justify;
    width: 100%;
    border-top: 2px solid #ccc;
    margin: 10px;
    padding-top: 10px;
    
}

.resumo{
    border-right: 2px solid #ccc;
    padding-right: 10px;
}

.resumo > p, .tipos > p , .fraqueza > p{
    font-size: 20px;
    font-weight: 600;
}
.resumo > span , .tipos > span, .fraqueza > span{
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.tipos{
    margin-top: 8px;
    border-right: 2px solid #ccc;
    padding-right: 100%;
}



.fraqueza{
    margin-top: 5px;
}
.evolucoes{
    display: flex;
    text-align: center;
    margin-left: -5%;
    margin-bottom: 10%;
    align-items: center;
    margin-top: 5%;
}

.evolucoes > i{
    margin-right: 2%;
    color: #fff;
}
.fotos > img{
    background-color: #fff;
    border-radius: 100%;
    width: 8vw;
    padding: 10px;
}

.fotos > span{
    color: #fff;
}



.evoluir{
    margin-top: 10%;
    font-size: 25px;
    border-radius: 10px 5px;
    padding: 2px 10px;
    border: 2px solid rgb(255, 255, 255);
    color: #fff;
   
}

.model{
    visibility: hidden;
    display: none;
}

.fundo{
    border: 3px solid rgb(0, 0, 0)
}
.corpo{
    margin-top: 10%;
}
