@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.container{
background: rgb(227,206,173);
background: linear-gradient(90deg, rgba(227,206,173,1) 0%, rgba(231,184,119,1) 100%);
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.login{
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 80%;
    height: 80%;
    
    align-items: center;
    justify-content: center;
}

.items{
    background-color: rgb(255, 255, 255);
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}
.items > button{
    width: 80%;
    padding: 5px;
    background-color: #c29f76;
    border: none;
    padding: 10px 5px;
    color: white;
    border-radius: 5px;
}
.items > input{
    width: 80%;
    margin: 5px;
    padding: 8px;
    outline: none;
    border: 1px solid #ad792a;
}

.items > button:hover{
    background-color: #f3e8c9;
    cursor: pointer;
}

.image{
    width: 60%;

}

.image > img{
    border-radius: 60px 5px;
}

.image > img{
    width: 100%;
}

.logo{
    margin-bottom: 15%;
    width: 18vw;
}